body {
    font-family: arial,helvetica,sans-serif;
}

.nav-font{
    color:white;
    background-color: black;
}

.wikiTitle{
  height:50px;
  line-height:50px ;
}

.wiki-content{
   width:50%;
   border: 1px solid #e3e3e4;
   background-color:white;
   margin-top:30px;
}

.wiki-content-div{
  padding-top:10px;
  padding-bottom:30px;
  border-bottom: 1px solid #e3e3e4;
}


.wikiName{
  border:none;
  border-bottom: 1px solid #e3e3e4;
  height:30px;
  width:70%;
  margin-top:20px;
}

.wiki-content-start{
  padding:10px 20px;
  margin-bottom:10px;
}

.next{
  display:block;
  padding:10px 10px;
}

.next-page{
  border:none;
  background:white;
  color:#00b7e0;
}
