<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.esports.web.dao.GamerMapper">

    <insert id="updateProfile" parameterType="com.esports.web.model.UserProfile">
        replace into user_profile (userid,nickname,img,game_label,introduction) values (#{userid},#{nickname}, #{img}, #{gameLabel}, #{introduction});
    </insert>

</mapper>