<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>游戏先生</title>
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="css/game.css" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head >
<body >
  <nav class="navbar navbar-default navbar-fixed-top m-b-n">
    <div class="container-fluid">
        <div>
            <div class="gameLogo"></div>
        </div>
        <div class="navbar-right input-group">
          <ul id="menu">
              <li><a href=''>博客</a></li>
              <li><a href='account/signIn.html'>登录</a></li>
              <li><a>游客进入</a></li>
          </ul>
        </div>
    </div>
  </nav>
    <script language="JavaScript" src="js/game.js"></script>
</body >
</html >

demo2
<div id="header" class="container-fluid">
    <div class="nav-left"><div class="gameLogo"></div></div>
    <div class="nav-right">
        <ul id="menu">
            <li><a href=''>博客</a></li>
            <li><a href='account/signIn.html'>登录</a></li>
            <li><a>游客进入</a></li>
        </ul>
    </div>
</div>
