<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>游戏先生</title>
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="/resources/css/game.css" type="text/css" />
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/resources/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/resources/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top" id="navigatorFor">
        </nav>
        <div class="row">
            <div class="col-xs-2 index-left " id="leftBar">
            </div>
            <div class="col-xs-10 right-center">
                <ol class="dashboardLink">
                    界面展示&gt;钱包&gt;我的预订
                </ol>
                <div class="selectionInfo col-xs-11">
                  <h3>看起来您还没有预订任何课程</h3>
                  <br>
                  <p>什么是游戏先生的预订</p>
                  <p>在此您可以提高您的游戏技能，并且为您节省一定的金钱！快来预订吧</p>
                  <button type="button" class="btn btn-info center-block  gamer-earn-credit" id="gamerForSearchSensei">寻找先生</button>
                </div>
            </div>
        <script language="JavaScript" src="/resources/js/game.js"></script>
        <script language="JavaScript" src="/resources/js/game/siderList.js"></script>
        </div>
    </div>
</body>
</html>
