body {
    font-family: arial,helvetica,sans-serif;
}

button,input,select,textarea{
    font-family:Arial;
    font-size:100%;
}
select {
    -webkit-appearance: menulist;
    align-items: center;
    white-space: pre;
    color: black;
    background-color: #EEEEEE;
}
input,textarea,select,button{
    text-rendering:auto;
    text-align:start;
    font:18px Arial;
}

form{
    display:block;
}

#header {
    position:fixed;
    z-index:198;
    display:block;
    height:60px;
    zoom:1;
    width:100%;
    background-color:rgb(255,255,255);
}
.gameLogo {
    display:block;
    padding-top: 20px;
    width: 200px;
    height: 36px;
    float: left;
    text-align: center;
    background-image:url(../images/gameLogo.png);
    background-repeat:no-repeat;
}
.searchChoice {
    height: 36px;
    position: relative;
}
.search-navbar-search-wrapper #search-navbar-search .nav-search-scope .facade-selector-wrapper .nav-left{
    background-color:#ECECED;
    height:36px;
}
.searchInfo {
    line-height: 36px;
    height: 36px;
    display: inline-block;
    top: 10px;
}

.nav-left{
    float:left;
    width:auto;
    display:inline-block;
}

.nav-right{
    min-width:250px;
    float:right;
    width:auto;
    display:inline-block;
    position:relative;
}
.gameContent{
  position:relative;
  width:auto;
  display:block;
  top:250px;
}
.searchButton{
  width:200px;
  height:70px;
  font-size:35px;
  text-align:center;
  margin:30px 5px;
}
.selectYourGame{
  border:none;
  /*appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;*/
}

.section-wrap .align-center{
  text-align:center;
}
.hero-header{
  font-size:55px;
  line-height:55px;
  color:rgb(63,81,181);
}
.hero-select{
  font-size:45px;
  line-height:45px;
  color:rgb(63,81,181);
}
.pDisplayInline{
  display:inline-block;
}
li{
   list-style-type:none;
}
#menu li{
    float:left;
}
#menu li a{
    display:block;
    padding:8px 50px;
    text-decoration:none;
    border-right:1px solid #000;
}
.nav-fill{
    width:auto;
    height:36px;
    border:1px solid #C8C8CD;
    position:relative;
    float:left;
    top:9px;
}

.facade-selector-wrapper{
    position:relative;
    float:left;
    margin:0;
    padding-left:5px;
    border:1px solid #C8C8CD;

}
.selector-dropdown{
    position:absolute;
    height:36px;
    line-height:36px;
    display:block;
    top:10px;
    left:-44px;
    width:auto;
}
#search-gameInfo{

}
